@import 'http://fonts.cdnfonts.com/css/avenir-next-cyr';


:root {
    --main-btn: #fc5c65;
    --secondary: #293043;
    --primary: #f1f1f1;
}

.login__wrapper {
    width: 100%;
    font-family: 'Avenir Next Cyr', sans-serif;
}

.login-header {
    padding: 1rem;
    background: white;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.logo {
    font-family: monospace;
    font-weight: 700;
    word-spacing: 15px;
    letter-spacing: 5px;
}

.logo img {
    width: 60px;
}

.login {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    background-color: rgb(255, 198, 198);
    gap: 8rem;
}

.login__image {
    width: 30%;
    background-image: url('../Asset/login-background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.login__form {
    width: 27.93rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.login__heading {
    padding: 5px 0px;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--secondary);
}

.login__subheading {
    padding: 5px 0px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary);
}

.login-forgot__text {
    color: var(--secondary);
}

.login-input__wrapper {
    width: 100%;
    border: 2px solid rgba(84, 95, 125, 0.15);
    border-radius: 5px;
}

.login__input {
    border: none;
    height: 3.125rem;
    width: 80%;
    padding: 1rem;
    color: var(--secondary);
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
}

.login__btn {
    color: white;
    font-weight: bolder;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--main-btn);
    border-radius: 8px;
    height: 3.125rem;
    width: 100%;
}
.login__btn:hover{
    background-color: #980101;
    transition: all .8s ease;
}

.login__text {
    color: var(--secondary);
    font-size: 0.75;
    font-weight: 600;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

@media (max-width: 950px) {
    .login__image {
        display: none;
    }

    .login__form {
        margin: auto;
        padding: 1rem;
        width: max(80%, 400px);
    }
}